<form class="container form-group" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <div class="form-group">

    <label for="userName">userName:</label>
    <input class="form-control" type="text" name="userName" formControlName="username">

  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" type="text" name="password" formControlName="password">
  </div>
  <button class="btn btn-Primary btn-success" [disabled]="!loginForm.valid">Submit</button></form>

<span>{{username.value|json}}</span>
<br/>
<span>{{password.value|json}}</span>